@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@theme{
    --color-brand-green:#32D583;
    --color-brand-surface:#ECF0FE;
    --color-title: #37352F;
    --color-paragraph: #101010;
    --color-border: #DDDFE3;
    --color-bluelinks: #009DE9;
    --color-lines: #B5BACA;
    --color-second-bg: #F0F1FA;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color:#0E1210;

  }